---
layout: framework1
banner:
banner_html: post-header.html
sidebar:
- article-menu
---

<div class="container">
  <section class="post">
    {%- assign name = 'banner' -%}
    {%- include functions.html func='get_value' -%}
    {%- assign banner = return -%}

    {%- assign name = 'hidden' -%}
    {%- include functions.html func='get_value' -%}
    {%- assign hidden = return -%}

    {%- assign result = hidden | where_exp: "item", "item == 'header'" -%}
    {%- if banner == nil and result.size == 0 -%}
    {%- include views/post-header.html -%}
    {%- endif -%}

    {%- include views/article.html -%}

    {%- assign result = hidden | where_exp: "item", "item == 'navigator'" -%}
    {%- if result.size == 0 -%}
    <div class="post-nav">
      {%- if page.previous -%}
        <a class="previous" href="{{ page.previous.url | relative_url }}" title="{{
          page.previous.title | escape }}">{{ page.previous.title | escape | truncatewords: 6 }}</a>
      {%- else -%}
      <span></span>
      {%- endif -%}

      {%- if page.next -%}
        <a class="next" href="{{ page.next.url | relative_url }}" title="{{ page.next.title | escape }}">{{ page.next.title | escape | truncatewords: 6 }}</a>
      {%- else -%}
      <span></span>
      {%- endif -%}
    </div>
    {%- endif -%}

    {%- assign result = hidden | where_exp: "item", "item == 'related_posts'" -%}
    {%- if result.size == 0 -%}
    <div class="post-related">
      <div>Related Articles</div>
      <ul>
        {% assign posts = site[page.collection] | sample:4 %}
        {%- for post in posts -%}
          {%- assign post_item_class = "" -%}
          {%- if post.top -%}
            {%- assign post_item_class = "top-post" -%}
          {%- endif -%}
        <li class="{{ post_item_class }}">
          <a class="post-link"
            href="{{ post.url | relative_url }}"
            title="{{ post.title | escape }}">
            {{ post.title | escape | truncatewords: 12 }}
            {%- include views/post-badges.html -%}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
    {%- endif -%}

    {%- assign result = hidden | where_exp: "item", "item == 'comments'" -%}
    {%- if result.size == 0 -%}
    <div class="post-comments">
      {%- if page.comments != false -%}

      {%- if site.disqus.shortname -%}
      {%- include extensions/comments/disqus.html -%}
      {%- endif -%}

      {%- if site.gitment.username -%}
      {%- include extensions/comments/gitment.html -%}
      {%- endif -%}

      {%- if site.utterances.repo -%}
      {%- include extensions/comments/utterances.html -%}
      {%- endif -%}

      {%- endif -%}
    </div>
    {%- endif -%}

  </section>

  <section class="sidebar" style="margin-left: 15px;">
    <style type="text/css" media="screen">
      .post-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    </style>

    <div class="post-menu">
      <div class="post-menu-title">TOC</div>
      <div class="post-menu-content"></div>
    </div>

    <script>
      function generateContent() {
        var menu = document.querySelector(".post-menu");
        var menuContent =  menu.querySelector(".post-menu-content");
        var headings = document.querySelector(".post-content").querySelectorAll("h2, h3, h4, h5, h6");

        // Hide menu when no headings
        if (headings.length === 0) {
          return menu.style.display = "none";
        }

        // Generate post menu
        var menuHTML = '';
        for (var i = 0; i < headings.length; i++) {
          var h = headings[i];
          menuHTML += (
            '<li class="h-' + h.tagName.toLowerCase() + '">'
            + '<a href="#h-' + h.getAttribute('id') + '">' + h.textContent + '</a></li>');
        }

        menuContent.innerHTML = '<ul>' + menuHTML + '</ul>';

        // The header element
        var header = document.querySelector('header.site-header');

        function doMenuCollapse(index, over_items) {
          var items = menuContent.firstChild.children;

          if (over_items == undefined) {
            over_items = 20;
          }

          if (items.length < over_items) {
            return;
          }

          var activeItem = items[index];
          var beginItem = activeItem
          var endItem = activeItem
          var beginIndex = index;
          var endIndex = index + 1;
          while (beginIndex >= 0
          && !items[beginIndex].classList.contains('h-h2')) {
            beginIndex -= 1;
          }
          while (endIndex < items.length
          && !items[endIndex].classList.contains('h-h2')) {
            endIndex += 1;
          }
          for (var i = 0; i < beginIndex; i++) {
            item = items[i]
            if (!item.classList.contains('h-h2')) {
              item.style.display = 'none';
            }
          }
          for (var i = beginIndex + 1; i < endIndex; i++) {
            item = items[i]
            // if (!item.classList.contains('h-h2')) {
            item.style.display = '';
            // }
          }
          for (var i = endIndex; i < items.length; i++) {
            item = items[i]
            if (!item.classList.contains('h-h2')) {
              item.style.display = 'none';
            }
          }
        }

        // Init menu collapsed
        doMenuCollapse(-1);

        // Active the menu item
        window.addEventListener('scroll', function (event) {
          var lastActive = menuContent.querySelector('.active');
          var changed = true;
          var activeIndex = -1;
          for (var i = headings.length - 1; i >= 0; i--) {
            var h = headings[i];
            var headingRect = h.getBoundingClientRect();
            var headerRect = header.getBoundingClientRect();
            var headerTop = Math.floor(headerRect.top);
            var headerHeight = Math.floor(headerRect.height);
            var headerHeight = headerTop + headerHeight + 20;
            if (headingRect.top <= headerHeight) {
              var id = 'h-' + h.getAttribute('id');
              var a = menuContent.querySelector('a[href="#' + id  + '"]');
              var curActive = a.parentNode;
              if (curActive) {
                curActive.classList.add('active');
                activeIndex = i;
              }
              if (lastActive == curActive) {
                changed = false;
              }
              break;
            }
          }
          if (changed) {
            if (lastActive) {
              lastActive.classList.remove('active');
            }
            doMenuCollapse(activeIndex);
          }
          event.preventDefault();
        });
      }
      generateContent();
    </script>

  </section>
</div>

<style>
  .container {
    display: flex;
  }

  .post {
    flex-grow: 1;
    width: 1000px; /* Subtract the sidebar width from 100% */
    /* Add any other styles you need for the post section */
  }

  .sidebar {
    width: 500px;
    position: sticky;
    top: 0;
    /* Add any other styles you need for the sidebar section */
  }
</style>




